{% extends 'projet/base.html' %}

{% block content %}



{% for produit in produits %}
        <div>
            <h3>{{ produit.nom }}</h3>
            <p>{{ produit.description }}</p>

            {% with variante=produit.variantes.first %}
                {% if variante %}
                    <p> Prix: {{ variante.prix }} CHF</p>
                {% else %}
                    <p> Prix: Non disponible</p>
                {% endif %}
            {% endwith %}
            
            <form method="post" action="{% url 'detail' produit.id %}">
                {% csrf_token %}
                <button type="submit">Détails</button>
            </form>
                <hr>
            
        </div>

    
    {% empty %}
        <p>Aucun produit trouvé.</p>

    {% endfor %}

{% endblock %}