{% extends 'projet/base.html' %}

{% block content %}

{% for produit in produits %}
        <div>
            <h3>{{ produit.nom }}</h3>
            <p>{{ produit.description }}</p>
            <

            {% for variante in produit.variantes.all %}
            <p> Prix: {{ variante.prix }} CHF</p>
            <form method="post" action="{% url 'ajouter_au_panier' variante.id %}">
                {% csrf_token %}
                <button type="submit">Ajouter au panier</button>
            </form>
                
            {% endfor %}
        </div>
    
    {% endfor %}

{% endblock %}