{% extends 'projet/base.html' %}

{% block content %}

{% for produit in produits %}
        <div>
            <h3>{{ produit.nom }}</h3>
            <p>{{ produit.description }}</p>


            {% for variante in produit.variantes.all %}
            <p> Prix: {{ variante.prix }} CHF</p>
            <form method="post" action="{% url 'detail' produit.id %}">
                {% csrf_token %}
                <button type="submit">Détails</button>
                
            {% endfor %}
        </div>
    {% empty %}
        <p>Aucun produit trouvé.</p>
    
    {% endfor %}

{% endblock %}