<html>
<head>

<title>BloomWay</title>
        <h1>BloomWay</h1>
<div class="ligne">
 <!-- Formulaire de recherche -->
    <div>
         <form method="get" action="{% url 'affichage_produit' %}"> 
             <input type ="text" name="q" placeholder="Rechercher un produit" value="{{ query|default:''    }}">
             <button type="submit">&#128269;</button>
    </div>
                
         </form>

<!-- Filtre des produits -->
    <div>
         <a href="{% url 'filtre_produit'%}">&#9776;</a>
    </div>

 <!-- Lien vers le panier -->
    <div>
        <a href="{% url 'affichage_panier' %}"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="gray" sttroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                                   <path d="M6 8h12l1 13H5L6 8Z"/>
                                                    <path d="M9 9V6a3 3 0 0 1 6 0v3"/>
                                                </svg>
        </a>
    </div>
</div>
</head>
<body>
        {% block content %}
        {% endblock %}
        {% if user.is_authenticated %}
            <p>Bienvenue, {{ user.username }}! <a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
            <p><a href="{% url 'login' %}">Login</a></p>
        {% endif %}
 </body>
</html>