{% block content %}
<h1> info de facturation</h1>
<div class ="container">
    <div class ="row">
        <div class="col-md-6">
    </div>
</div>

<div class="card">
  <div class="card-header">
    Formulaire de paiement
  </div>
  <br></br>
  <div class="card-body">
    {% for panier_produit in panier_produits %}
        <strong>Produit: {{ panier_produit.variante_produit.produit.nom }}</strong>

        <small> Quantité: {{ panier_produit.quantite }}</small>

        <br></br>

    {% endfor %}

    Total: {{total}}
        <br></br>

   
  </div>
</div>
<div class="card">
   
    <div class="card-header">
     <strong>info de livraison</strong>
    </div>
    <div class="card-body">
        <form method ="POST" action="{% url 'facturation_info' %}">
            {% csrf_token %}
        </form>

    Nom entier: <small>{{ shipping_info.nom_entier }}</small>

    <br></br>

    Email: <small>{{ shipping_info.email }}</small>

    <br></br>

    Adresse: <small>{{ shipping_info.adresse }}</small>

    <br></br>

    Ville: <small>{{ shipping_info.ville }}</small>

     <br></br>

    Code Postal: <small>{{ shipping_info.code_postal }}</small>

     <br></br>

    Pays: <small>{{ shipping_info.pays }}</small>

     <br></br>

    <a href="{% url 'checkout' %}" class="btn btn-outline-secondary"> update infos </a>

    <br></br>

    </div>
</div>
<div>
    <form method="POST" action="{% url 'paiement' %}">
        {% csrf_token %}
        <input
            type="hidden"
            name="shipping_id"
            value="{{ shipping_info.id }}"
            >
        <button type="submit">Payer</button>
    </form>
</div>

{% endblock %}