{% extends 'projet/base.html' %}
{% block content %}

<form method ="get">
    <label> categorie</label>
    <select name="categorie" onchange="this.form.submit()">
        <option value="" {% if not categorie_selectionnee %}selected{% endif %}>choisir une categorie</option>

        {% for cat in categories %}
            <option value="{{ cat.categorie }}"
                {% if request.GET.categorie == cat.categorie %}selected{% endif %}>
                {{ cat.categorie }}
            </option>
        {%endfor%}
    </select>

    {% if request.GET.categorie %}
        <br><br>

        <label>Taille :</label>
        <select name="taille">
            <option value="">Toutes</option>
            <option value="S" {% if request.GET.taille == 'S' %}selected{% endif %}>S</option>
            <option value="M" {% if request.GET.taille == 'M' %}selected{% endif %}>M</option>
            <option value="L" {% if request.GET.taille == 'L' %}selected{% endif %}>L</option>
        </select>
        <label>Couleur :</label>
        <input type="text" name="couleur" value="{{ request.GET.couleur }}">

        <label>Stock :</label>
        <input type="number" name="stock" value="{{ request.GET.stock }}">

        <label>Prix min :</label>
        <input type="number" step="0.01" name="prix_min" value="{{ request.GET.prix_min }}">

        <label>Prix max :</label>
        <input type="number" step="0.01" name="prix_max" value="{{ request.GET.prix_max }}">


        <button type="submit">Filtrer</button>
    {% endif %}
</form>

<hr>

{% for p in produits %}

<div> 
    <h3> {{ p.nom }}</h3>
    <p> Catégorie : {{ p.categorie }}</p>

    {% for variante in p.variante.produit %}

    <div> 
        <p> Taille : {{ variante.taille}}</p>
        <p> Couleur : {{ variante.couleur }}</p>
        <p> Stock : {{ variante.stock }}</p>
        <p> Prix :  {{ variante.prix }}</p>
    
    </div>
    {% endfor%}
</div>
<hr>
{% empty %}
<p> Aucun produit trouvé </p>
{% endfor %}

{% endblock %}

