{% extends 'projet/base.html' %}


{% block content %}
{% include 'projet/navbar.html' %}

    {% for categorie in categories %}
        <div class="categorie">
            <img src="{{ categorie.image_principale.url }}" alt="{{ categorie.categorie }}"
                width="400" height="400">
            <form method="POST" action="{% url 'affichage_produit' %}">
                {% csrf_token %}
                <button type="submit">{{ categorie.categorie }}</button>
            </form>
        </div> 
    {% endfor %}

{% endblock %}



