

<nav>
    <ul>
        <li><a href="{% url 'home' %}">Accueil</a></li>
        <li><a href="{% url 'about_us' %}">À propos</a></li>
        <li><a href="{% url 'affichage_produit' %}">Produit</a></li>
        <li><a href="{% url 'envoye_dashboard' %}">Envoyé</a></li>
        <li><a href="{% url 'pas_envoye_dashboard' %}">Pas Envoyé</a></li>
    </ul>
</nav>

{% if request.user.is_superuser %}
   
    <nav>
        <ul>
            <li><a href="{% url 'envoye_dashboard' %}">Envoyé</a></li>
            <li><a href="{% url 'pas_envoye_dashboard' %}">Pas Envoyé</a></li>
        </ul>
    </nav>

{% endif %}